<div class="justify-content-center d-flex">
  <%= link_to " ViewDashboard", wizard_path(:index), class: "btn btn-dark" %>
</div>
<%= render 'layouts/shared/view_application', user_application: @user_application %>

