<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-lg-8 col-xl-6">
    <div class="card rounded-3">
        <center><h2>Select Camps</h2></center>
      <div class="card-body p-4 p-md-5 bg-light">
        <hr>
        <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
            <tr>
              <th>Name</th>
              <th>View</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @user_applications.each do |user_application| %>
              <tr>
                <td>
                  <%= user_application.user.name+' '+user_application.camp.name %>
                </td>
                <td>
                  <%if current_user.admin? %>
                    <%= link_to 'view Application', admins_user_application_path(user_application), class: 'btn btn-outline-dark' %>
                  <% end %>
                </td>
                <td>
                  <%if current_user.admin? %>
                    <%= link_to 'Edit Application', edit_admins_user_application_path(user_application), class: 'btn btn-outline-dark' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

